@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 3rem;
  text-overflow: ellipsis;
  font-family: "Belanosima", sans-serif;
  margin: 0.5rem 0rem;
  color: rgba(8, 47, 73, 1);
  line-height: 1;
}

h2 {
  font-size: 2.25rem;
  text-overflow: ellipsis;
  font-family: "Belanosima", sans-serif;
  margin: 0.5rem 0rem;
  line-height: 2.5rem;
  color: black;
}
h3 {
  font-size: 1.25rem;
  text-overflow: ellipsis;
  font-family: "Belanosima", sans-serif;
  line-height: 1.75rem;
  color: black;
}
h4 {
  font-size: 1.125rem;
  text-overflow: ellipsis;
  font-family: "Barlow", sans-serif;
  margin: 0.5rem 0rem;
  line-height: 1.75rem;
  color: black;
  letter-spacing: 1.1px;
}

h5 {
  font-size: 0.875rem;
  text-overflow: ellipsis;
  font-family: "Barlow", sans-serif;
  margin: 0.25rem 0rem;
  line-height: 1.25rem;
  color: rgb(107,114,128,1);
  letter-spacing: 0.025em;
}

.hello{
  width: 400px;
}